<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vivaxy.alfred-workflow.ticktick</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>2F8F8947-DDD8-4EA7-BEB6-95DA29875D86</key>
      <array/>
      <key>320C4B4E-EBF0-498B-B1D5-0534EC53650F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>6EFECF84-5A21-41F8-80BB-2E64573DFDB8</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>3C9FAF46-3DCA-4553-9DE7-2B9491DAA9F5</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>3B9FAEA1-E7F6-4843-8A50-70130C5936E7</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>0B395296-E139-47B9-890D-63FE68BB159F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>3C9FAF46-3DCA-4553-9DE7-2B9491DAA9F5</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C62EA344-AEEA-4891-99F7-027EC23B9D86</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>51B82103-BCEA-4232-AFB2-B4C03F5C43CE</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>2BA58DEF-0180-4634-93F2-42E2C597D58E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>56F304C0-D324-4485-9624-BE4BD0D223AA</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>2F8F8947-DDD8-4EA7-BEB6-95DA29875D86</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>6EFECF84-5A21-41F8-80BB-2E64573DFDB8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>51B82103-BCEA-4232-AFB2-B4C03F5C43CE</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>2F4021BF-AFB5-454F-8DE4-AC75DF4CBA7C</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>3B9FAEA1-E7F6-4843-8A50-70130C5936E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>vivaxy</string>
    <key>description</key>
    <string>Alfred workflow for TickTick and Dida365</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>TickTick(Dida365)</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>paths</key>
          <array>
            <string>/Applications/TickTick.app</string>
          </array>
          <key>toggle</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.launchfiles</string>
        <key>uid</key>
        <string>2F8F8947-DDD8-4EA7-BEB6-95DA29875D86</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>tt</string>
          <key>subtext</key>
          <string/>
          <key>text</key>
          <string>Open TickTick</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>56F304C0-D324-4485-9624-BE4BD0D223AA</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node actions/add.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>51B82103-BCEA-4232-AFB2-B4C03F5C43CE</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <true/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string/>
          <key>title</key>
          <string>{query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>2BA58DEF-0180-4634-93F2-42E2C597D58E</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{query}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>4</integer>
              <key>matchstring</key>
              <string>^add .+$</string>
              <key>outputlabel</key>
              <string>add</string>
              <key>uid</key>
              <string>2F4021BF-AFB5-454F-8DE4-AC75DF4CBA7C</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>login</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>6EFECF84-5A21-41F8-80BB-2E64573DFDB8</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node actions/login.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>3B9FAEA1-E7F6-4843-8A50-70130C5936E7</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <true/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string/>
          <key>title</key>
          <string>{query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>0B395296-E139-47B9-890D-63FE68BB159F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>tt</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>TickTick</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>320C4B4E-EBF0-498B-B1D5-0534EC53650F</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node actions/complete.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>3C9FAF46-3DCA-4553-9DE7-2B9491DAA9F5</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string/>
          <key>title</key>
          <string>{query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>C62EA344-AEEA-4891-99F7-027EC23B9D86</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>0B395296-E139-47B9-890D-63FE68BB159F</key>
      <dict>
        <key>xpos</key>
        <integer>655</integer>
        <key>ypos</key>
        <integer>335</integer>
      </dict>
      <key>2BA58DEF-0180-4634-93F2-42E2C597D58E</key>
      <dict>
        <key>xpos</key>
        <integer>640</integer>
        <key>ypos</key>
        <integer>165</integer>
      </dict>
      <key>2F8F8947-DDD8-4EA7-BEB6-95DA29875D86</key>
      <dict>
        <key>xpos</key>
        <integer>340</integer>
        <key>ypos</key>
        <integer>20</integer>
      </dict>
      <key>320C4B4E-EBF0-498B-B1D5-0534EC53650F</key>
      <dict>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>345</integer>
      </dict>
      <key>3B9FAEA1-E7F6-4843-8A50-70130C5936E7</key>
      <dict>
        <key>xpos</key>
        <integer>455</integer>
        <key>ypos</key>
        <integer>335</integer>
      </dict>
      <key>3C9FAF46-3DCA-4553-9DE7-2B9491DAA9F5</key>
      <dict>
        <key>xpos</key>
        <integer>455</integer>
        <key>ypos</key>
        <integer>515</integer>
      </dict>
      <key>51B82103-BCEA-4232-AFB2-B4C03F5C43CE</key>
      <dict>
        <key>xpos</key>
        <integer>455</integer>
        <key>ypos</key>
        <integer>165</integer>
      </dict>
      <key>56F304C0-D324-4485-9624-BE4BD0D223AA</key>
      <dict>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>20</integer>
      </dict>
      <key>6EFECF84-5A21-41F8-80BB-2E64573DFDB8</key>
      <dict>
        <key>xpos</key>
        <integer>335</integer>
        <key>ypos</key>
        <integer>265</integer>
      </dict>
      <key>C62EA344-AEEA-4891-99F7-027EC23B9D86</key>
      <dict>
        <key>xpos</key>
        <integer>655</integer>
        <key>ypos</key>
        <integer>515</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>webaddress</key>
    <string>https://github.com/vivaxy/alfred-ticktick#readme</string>
    <key>version</key>
    <string>1.1.0</string>
  </dict>
</plist>